@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap'); */




body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.logo-text {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 24px;
}